@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
h1, h5 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Georgia', serif;
    color: #01996D;
    margin-top: 0;
    line-height: normal;
}
h6 {
    font-weight: 600;
    font-size: 24px;
    color: #424242;
}
p {
    font-size: 20px;
    color: #484848;
    line-height: 150%;
}
.navbar {
    padding: 30px 0;
}
.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-flex__item ul {
    display: flex; 
}
.navbar-flex__item ul li{
    margin-right: 72px;
    list-style: none;    
}
.navbar-flex__item ul li:last-child {
    margin-right: 0;
}
.navbar-flex__item ul li a {
    color: #292929;
    font-size: 20px;
    text-decoration: none;  
}
.navbar-flex__item .logo {
    fill: #01996d;   
}
.navbar-flex__item a {
    text-decoration: none;
    margin-right: 14px;
    font-size: 20px;
    color: #292929;
}
.header {
    padding-top: 175px;
    min-height: 895px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header h1 {
    font-size: 65px;
    max-width: 440px;
}
.header p {
    font-size: 20px;
    max-width: 420px;
    color: #484848;
    height: 123px;
    margin-bottom: 18px;
}
.btn {
    font-size: 20px;
    width: 227px;
    height: 65px;
    border-radius: 4px;
    padding: 20px 40px;
    background-color: #01996D;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* .service {
} */
.service-flex {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 150px;
}
.service-flex__item h6 {
    padding-top: 170px;
    margin: 0px 0px 12px 0px;
}
.service-flex__item p {
    max-width: 671px;
}
.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 95px;
    margin-bottom: 51px;
}
.service-grid__item h5 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #000;
    margin: 0px 0px 5px 0px;
    position: relative;
    top: -40px;
    left: -20px
}
.service-grid__item p {
    margin: 0px 0px 48px 0px;
}
.service-grid__item:nth-child(2){
    padding-top: 205px;
}
.service-grid__item:nth-child(3){
    padding-top: 50px;
}

.story {
    background-color: #245852;
    padding: 229px 0 177px;
}
.story .container {
    max-width: 1506px;
    margin: 0 auto;
}
.story-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.story-flex__item h1 {
    color: #fff;
    margin-bottom: 33px;
}
.story-flex__item p {
    color: #fff;
    font-size: 25px;
    margin-bottom: 57px;    
}
.story-flex__item__video {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 0;
}
.story-flex__item__video:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-image: url(../img/Group.svg);
    background-repeat: no-repeat;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    cursor: pointer;
}
.story-flex__item__video img{
    max-width: 100%;
    height: auto; 
}

.product {
    padding: 120px 0 242px;
}
.product-flex {
    display: flex;
    justify-content: space-between;
}
.product-flex__item:first-child {
    position: relative;
}
.product-flex__item__img1 {
    display: block;
    width: 100%; /* Устанавливаем ширину по желанию */
    height: auto; /* Сохраняем пропорции */
    z-index: 0;
}
.product-flex__item__img2 {
    position: absolute; 
    width: 296px;
    height: 293px;
    left: -60px;
    bottom: -75px;
    z-index: 1;
}
.product-flex__item:last-child {
    max-width: 584px;
    min-height: 413px;
}
.product-flex__item h6 {
    margin-bottom: 10px;
}
.product-flex__item h1 {
    margin-bottom: 25px;
}
.product-flex__item p {
    margin-bottom: 40px;
}

.footer {
    background-color: #245852;
    padding: 95px 0;
}
.footer .logo {
    margin-bottom: 60px;
}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li a {
    color: #fff;
    font-size: 25px;
    margin-bottom: 60px;
    text-decoration: none;
}
.footer ul li a:hover {
    opacity: 0.9;
}
.footer ul li {
    margin-bottom: 60px;
}
.footer ul li:last-child {
    margin-bottom: 0px;
}
/* подобрать размеры */

@media screen and (max-width: 1440px) {
    .navbar-flex {
        flex-wrap: wrap;
    }
    .navbar-flex .btn {
    margin-right: 10px;
    }
    .service-flex{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }
    .service-flex__item:first-child {
        margin-bottom: 5px;
        margin-right: 25px;
    }
    .service-grid {
        max-width: 450px;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    .service-grid__item:nth-child(2){
        padding-top: 50px;
    }
    .service-grid__item:nth-child(3){
        padding-top: 50px;
        margin-bottom: 70px;
    }
    .story {
        padding: 70px 0;
    }
    .story-flex {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .story-flex__item:first-child {
        margin-bottom: 50px;
    }
    .product-flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .product-flex__item:first-child {
        margin: 0 auto 50px;
    }
}
@media screen and (max-width: 1024px) {
    .navbar-flex {
        justify-content: space-evenly;
    }
    .service-flex__item h6 {
        padding-top: 70px;
    }
    .product {
        padding: 70px 0;
    }
    .product-flex__item:first-child {
        margin-bottom: 100px;
    }    
}

@media screen and (max-width: 540px) {
    .navbar-flex__item ul li {
        margin-right: 10px;  
    }
    .product-flex__item__img2 {
        width: 250px;
        height: 245px;
        left: -15px;
        bottom: -60px;
    }    
}
/* Adaptive for Sansung A51 */
@media screen and (max-width: 412px) {
    .navbar-flex__item ul {
        padding-left: 10px;
    }

    .navbar-flex__item ul li a {
        /* margin-right: 5px; */
        font-size: 18px;        
    }
    .navbar {
        padding: 0;
    }
    .navbar .container {
        padding: 0;
    }
    .navbar-flex__item a {
        font-size: 18px;
    }
    .btn {
        font-size: 18px;
        width: 210px;
        height: 55px;
    }
    
}








